#dashboard header {
  font-size: 200%;
  flex-wrap: nowrap;
}

#dashboard {
  background-color: #2a2a2a;
  width: 50%;
  height: 100vh;
}

#dashboard-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 93vh;
}

.list-container {
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
}

.list-container:first-child {
  background-color: #383838;
}

.list-container div, .list-container button {
  padding: 10px;
  width: 15%;
}

.list-container div:first-child {
  width: 30%;
}

.list-container button {
  padding: 8px 0;
  margin-left: 0;
  width: 15%;
}

.userstate:hover {
  background-color: #334;
  cursor: default;
}

#remindertypeselector {
  background-color: transparent;
  border: none;
  width: auto;
  margin: unset;
  padding: unset;
  display: block;
  margin: auto;
}

#remindertypeselector option {
  background-color: #232323;
  border-radius: 10px;
}

#upcoming {
  font-size: 85%;
}