.logincontainer {
  width: 20%;
  margin: auto;
  border: 5px solid #008CBA;
  border-radius: 20px;
  padding: 50px 30px;
  margin-top: 15vh;
  font-size: 125%;
  box-shadow: 3px 8px 15px #151515;
  padding-bottom: 30px;
  min-width: 400px;
}

#login-title {
  font-size: 200%;
  text-align: center;
  border-bottom: 5px solid white;
  border-radius: 3px;
  width: 34%;
  margin-bottom: 3vh;
  margin-left: 32%;
  padding-bottom: 10px;
}

input {
  margin: 1rem 0; 
}

button {
  margin-top: 2rem;
  margin-left: 30%;
  width: 40%;
}

#errormessage {
  color: red;
  transition-duration: 0.4s;
}

#toggleState {
  font-size: 75%;
  text-align: center;
  margin-top: 5vh;
}

#toggleState:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .logincontainer {
    width: 80%;
    font-size: 250%;
  }
  input {
    font-size: 90%;
    margin: 2rem 0;
  }
  button {
    font-size: 150%;
    width: 60%;
    margin-left: 20%;
  }
  .login-title {
    font-size: 200%;
  }
}